body {
    background-color: rgb(162, 157, 163) !important;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(178, 216, 210, 0.897));
    }

/* navbar section start*/
    .navbar {
    background-color: rgba(162, 157, 163, 0.685) !important;
    }

    .navbar-brand {
        position: static;
        font-family: Monoton;
        color: rgb(252, 250, 253) !important;
        background-color: rgba(47, 8, 65, 0.774);
        border-top-right-radius: 20px 20px;
        border-bottom-left-radius: 20px 20px;
        border-bottom: 4px solid rgba(178, 216, 210, 0.856);
        border-left: 4px solid  rgb(178, 216, 210, 0.856);
        border-top: 4px solid rgb(47, 8, 65);
        border-right: 4px solid  rgb(47, 8, 65);
    }
    
    .navbar-brand:hover {
        font-family: Monoton;
        color: rgb(47, 8, 65) !important;
        background-color: rgba(178, 216, 210, 0.603);
        cursor: pointer !important;
        border-bottom: 4px solid (178, 216, 210, 0.753);
        border-top: 4px solid;
        border-left: 4px solid rgb(47, 8, 65);
        border-right: 4px solid  rgba(178, 216, 210, 0.753);
        border-top-left-radius: 20px 20px;
        border-bottom-right-radius: 20px 20px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        transition: 0.4s;    
    }

    .fa-bars {
        color: white;
        font-size: 30px !important;
    }

    .navbar-toggler {
        border: none !important;
    }

    .navbar-toggler:hover {
       background-color: rgba(47, 8, 65, 0.534);
    }

    navbar-nav ul li {
        width: 50px;
        background-color: rgba(47, 8, 65, 0.76);
        cursor: pointer !important;
        border-top-left-radius: 15px 15px;
        border-bottom-right-radius: 15px 15px;
        border-top: 4px solid rgba(238, 245, 244, 0.932);
    }
        
    #navbarNav ul li :hover {
        color: rgb(247, 245, 248) !important;
        background-color: rgba(47, 8, 65, 0.76);
        cursor: pointer !important;
        border-top-left-radius: 15px 15px;
        border-bottom-right-radius: 15px 15px;
        border-top: 4px solid rgba(238, 245, 244, 0.932);
        border-right: 4px solid  rgb(154, 187, 182);
        transition: 0.45s;
    }

    .social links {
        transform: scale3d(20px);
    }
/* navbar section end*/

/* home section start*/
    #home img {
        border-radius: 350px;
    }
/* home section end*/



